.FilePanel {
    position: absolute;
    right: 0;
    bottom: 0;
}

.FilePanel-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: 0;
}
.FilePanel-content.visible {
    opacity: 1;
}

.FilePanel-saveButton {
    top: 8px;
    right: 8px;
}

@media (orientation:portrait) {

    .FilePanel {
        left: 0;
    }

    .FilePanel-content {
        right: 0;
        height: 64px;
        background-image: linear-gradient(#ddd, #eee);
        transition: ease-in-out 0.2s top, ease-in-out 0.2s opacity;
    }
    .FilePanel-content.visible {
        top: -64px;
    }

    .FilePanel-openButton {
        top: 8px;
        right: 56px;
    }

    .FilePanel-newButton {
        top: 8px;
        right: 104px;
    }

}

@media (orientation:landscape) {

    .FilePanel {
        top: 0;
    }

    .FilePanel-content {
        bottom: 0;
        width: 64px;
        background-image: linear-gradient(90deg, #ddd, #eee);
        transition: ease-in-out 0.2s left, ease-in-out 0.2s opacity;
    }
    .FilePanel-content.visible {
        left: -64px;
    }

    .FilePanel-openButton {
        top: 56px;
        right: 8px;
    }

    .FilePanel-newButton {
        top: 104px;
        right: 8px;
    }

}
