.LuminanceSlider .Slide-bar {
    box-shadow: none;
    background: none;
}

.LuminanceSlider-portraitBar,
.LuminanceSlider-landscapeBar {
    border-radius: 16px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

@media (orientation:portrait) {

    .LuminanceSlider {
        top: 104px;
        left: 8px;
        right: 8px;
    }

    .LuminanceSlider-portraitBar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}

@media (orientation:landscape) {

    .LuminanceSlider {
        top: 8px;
        bottom: 8px;
        left: 106px;
    }

    .LuminanceSlider-landscapeBar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}
