.MainPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.MainPanel-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 64px;
    background: #ddd;
    background-image: linear-gradient(#eee, #ccc);
    padding: 8px;
    white-space: nowrap;
}

@media (orientation:landscape) {
    .MainPanel-bar {
        top: 0;
        left: auto;
        height: auto;
        width: 64px;
        background-image: linear-gradient(90deg, #eee, #ccc);
        white-space: normal;
    }
}
