.PalettePanel {
    position: absolute;
    right: 0;
    bottom: 0;
}

.PalettePanel-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: 0;
}
.PalettePanel-content.visible {
    opacity: 1;
}

@media (orientation:portrait) {

    .PalettePanel {
        left: 0;
    }

    .PalettePanel-content {
        right: 0;
        height: 112px;
        background-image: linear-gradient(#ddd, #eee);
        transition: ease-in-out 0.2s top, ease-in-out 0.2s opacity;
    }
    .PalettePanel-content.visible {
        top: -112px;
    }

    .PalettePanel-colorButton:nth-child(4n + 1) {
        left: 8px;
    }
    .PalettePanel-colorButton:nth-child(4n + 2) {
        left: 56px;
    }
    .PalettePanel-colorButton:nth-child(4n + 3) {
        left: 104px;
    }
    .PalettePanel-colorButton:nth-child(4n) {
        left: 152px;
    }

    .PalettePanel-blackButton,
    .PalettePanel-redButton,
    .PalettePanel-greenButton,
    .PalettePanel-blueButton {
        top: 8px;
    }
    .PalettePanel-greyButton,
    .PalettePanel-brownButton,
    .PalettePanel-darkGreenButton,
    .PalettePanel-skyBlueButton {
        top: 56px;
    }

}

@media (orientation:landscape) {

    .PalettePanel {
        top: 0;
    }

    .PalettePanel-content {
        bottom: 0;
        width: 112px;
        background-image: linear-gradient(90deg, #ddd, #eee);
        transition: ease-in-out 0.2s left, ease-in-out 0.2s opacity;
    }
    .PalettePanel-content.visible {
        left: -112px;
    }

    .PalettePanel-colorButton:nth-child(4n + 1) {
        bottom: 8px;
    }
    .PalettePanel-colorButton:nth-child(4n + 2) {
        bottom: 56px;
    }
    .PalettePanel-colorButton:nth-child(4n + 3) {
        bottom: 104px;
    }
    .PalettePanel-colorButton:nth-child(4n) {
        bottom: 152px;
    }

    .PalettePanel-blackButton,
    .PalettePanel-redButton,
    .PalettePanel-greenButton,
    .PalettePanel-blueButton {
        left: 8px;
    }
    .PalettePanel-greyButton,
    .PalettePanel-brownButton,
    .PalettePanel-darkGreenButton,
    .PalettePanel-skyBlueButton {
        left: 56px;
    }

}
