.AlphaSlider .Slide-bar {
    box-shadow: none;
    background: none;
}

.AlphaSlider-portraitBar,
.AlphaSlider-landscapeBar {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

@media (orientation:portrait) {

    .AlphaSlider {
        top: 152px;
        left: 8px;
        right: 8px;
    }

    .AlphaSlider-portraitBar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}

@media (orientation:landscape) {

    .AlphaSlider {
        top: 8px;
        bottom: 8px;
        left: 152px;
    }

    .AlphaSlider-landscapeBar {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

}
