.ColorButtonsPanel {
    position: absolute;
    left: 8px;
}

@media (orientation:portrait) {

    .ColorButtonsPanel {
        top: 8px;
        width: 192px;
        height: 176px;
    }

    .ColorButtonsPanel-colorButton:nth-child(4n + 1) {
        left: 0;
    }
    .ColorButtonsPanel-colorButton:nth-child(4n + 2) {
        left: 48px;
    }
    .ColorButtonsPanel-colorButton:nth-child(4n + 3) {
        left: 96px;
    }
    .ColorButtonsPanel-colorButton:nth-child(4n) {
        left: 144px;
    }

    .ColorButtonsPanel-blackButton,
    .ColorButtonsPanel-darkGreyButton,
    .ColorButtonsPanel-lightGreyButton,
    .ColorButtonsPanel-whiteButton {
        top: 0;
    }
    .ColorButtonsPanel-blueButton,
    .ColorButtonsPanel-skyBlueButton,
    .ColorButtonsPanel-darkGreenButton,
    .ColorButtonsPanel-greenButton {
        top: 48px;
    }
    .ColorButtonsPanel-yellowButton,
    .ColorButtonsPanel-redButton,
    .ColorButtonsPanel-brownButton,
    .ColorButtonsPanel-orangeButton {
        top: 96px;
    }
    .ColorButtonsPanel-violetButton,
    .ColorButtonsPanel-pinkButton,
    .ColorButtonsPanel-darkSkinButton,
    .ColorButtonsPanel-lightSkinButton {
        top: 144px;
    }

}

@media (orientation:landscape) {

    .ColorButtonsPanel {
        bottom: 8px;
        width: 176px;
        height: 192px;
    }

    .ColorButtonsPanel-colorButton:nth-child(4n + 1) {
        bottom: 0;
    }
    .ColorButtonsPanel-colorButton:nth-child(4n + 2) {
        bottom: 48px;
    }
    .ColorButtonsPanel-colorButton:nth-child(4n + 3) {
        bottom: 96px;
    }
    .ColorButtonsPanel-colorButton:nth-child(4n) {
        bottom: 144px;
    }

    .ColorButtonsPanel-blackButton,
    .ColorButtonsPanel-darkGreyButton,
    .ColorButtonsPanel-lightGreyButton,
    .ColorButtonsPanel-whiteButton {
        left: 0;
    }
    .ColorButtonsPanel-blueButton,
    .ColorButtonsPanel-skyBlueButton,
    .ColorButtonsPanel-darkGreenButton,
    .ColorButtonsPanel-greenButton {
        left: 48px;
    }
    .ColorButtonsPanel-yellowButton,
    .ColorButtonsPanel-redButton,
    .ColorButtonsPanel-brownButton,
    .ColorButtonsPanel-orangeButton {
        left: 96px;
    }
    .ColorButtonsPanel-violetButton,
    .ColorButtonsPanel-pinkButton,
    .ColorButtonsPanel-darkSkinButton,
    .ColorButtonsPanel-lightSkinButton {
        left: 144px;
    }

}
