.ColorButton-transparency {
    background-color: #ccc;
    background-image: repeating-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0.1) 16px), repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 8px, rgba(0, 0, 0, 0) 8px, rgba(0, 0, 0, 0) 16px, rgba(0, 0, 0, 0.1) 16px);
}

.ColorButton-color {
    height: 100%;
}
