.ColorButton-transparency {
    background-color: #ccc;
    background-position: 50% 50%;
}

.ColorButton-color {
    height: 100%;
    position: relative;
    border-radius: 2px;
}

.ColorButton-opaque {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    border-radius: 0 2px 2px 0;
}
