.EditColorPanel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: 0;
}
.EditColorPanel.visible {
    opacity: 1;
}

.EditColorPanel-hueSlider {
    top: 8px;
    left: 8px;
}

@media (orientation:portrait) {

    .EditColorPanel {
        right: 0;
        height: 160px;
        background-image: linear-gradient(#ddd, #eee);
        transition: ease-in-out 0.2s top, ease-in-out 0.2s opacity;
    }
    .EditColorPanel.visible {
        top: -160px;
    }

    .EditColorPanel-hueSlider {
        right: 8px;
    }
    .EditColorPanel-hueSlider .Slider-bar {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(90deg, hsl(0, 100%, 50%) 8px, hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(360, 100%, 50%) calc(100 - 8px));
    }

    .EditColorPanel-saturationSlider {
        top: 56px;
        left: 8px;
        right: 8px;
    }

}

@media (orientation:landscape) {

    .EditColorPanel {
        bottom: 0;
        width: 160px;
        background-image: linear-gradient(90deg, #ddd, #eee);
        transition: ease-in-out 0.2s left, ease-in-out 0.2s opacity;
    }
    .EditColorPanel.visible {
        left: -160px;
    }

    .EditColorPanel-hueSlider {
        bottom: 8px;
    }
    .EditColorPanel-hueSlider .Slider-bar {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(hsl(360, 100%, 50%), hsl(300, 100%, 50%), hsl(240, 100%, 50%), hsl(180, 100%, 50%), hsl(120, 100%, 50%), hsl(60, 100%, 50%), hsl(0, 100%, 50%));
    }

    .EditColorPanel-saturationSlider {
        top: 8px;
        bottom: 8px;
        left: 54px;
    }

}
