.MainBar {
    position: absolute;
    background: #ddd;
    overflow: hidden;
    opacity: 0;
}
.MainBar.visible {
    right: 0;
    bottom: 0;
    opacity: 1;
}

.MainBar-scroll {
    position: absolute;
}

.MainBar-bar {
    position: absolute;
    transition: ease-in-out 0.2s opacity;
}
.slide > .MainBar-bar {
    opacity: 0;
}

.MainBar-alternativeBar {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease-in-out 0.2s opacity;
}
.slide > .MainBar-alternativeBar {
    opacity: 1;
}

@media (orientation:portrait) {

    .MainBar {
        background-image: linear-gradient(#ddd, #bbb);
        height: 64px;
        bottom: -64px;
        left: 0;
        transition: ease-in-out 0.2s opacity, ease-in-out 0.2s bottom;
    }

    .MainBar-scroll {
        height: 128px;
        top: -64px;
        right: 0;
        left: 0;
        transition: ease-in-out 0.2s top;
    }
    .MainBar-scroll.slide {
        top: 0;
    }

    .MainBar-bar {
        top: 64px;
        right: 0;
        left: 0;
        height: 64px;
    }

    .MainBar-alternativeBar {
        right: 0;
        height: 64px;
    }

}

@media (orientation:landscape) {

    .MainBar {
        background-image: linear-gradient(90deg, #ddd, #bbb);
        width: 64px;
        right: -64px;
        top: 0;
        transition: ease-in-out 0.2s opacity, ease-in-out 0.2s right;
    }

    .MainBar-scroll {
        width: 128px;
        top: 0;
        bottom: 0;
        left: -64px;
        transition: ease-in-out 0.2s left;
    }
    .MainBar-scroll.slide {
        left: 0;
    }

    .MainBar-bar {
        top: 0;
        bottom: 0;
        left: 64px;
        width: 64px;
    }

    .MainBar-alternativeBar {
        bottom: 0;
        width: 64px;
    }

}
