.MainPanel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.MainPanel-content {
    position: absolute;
    top: 0;
    left: 0;
}

.MainPanel-fileButton {
    top: 8px;
}

@media (orientation: portrait) {

    .MainPanel-content {
        right: 0;
        bottom: 64px;
    }

    .MainPanel-primaryToolButton,
    .MainPanel-eraserButton,
    .MainPanel-paletteButton,
    .MainPanel-paramsButton,
    .MainPanel-undoButton {
        top: 8px;
    }

    .MainPanel-primaryToolButton {
        left: 8px;
    }
    .MainPanel-eraserButton {
        left: 56px;
    }
    .MainPanel-paletteButton {
        left: 104px;
    }
    .MainPanel-paramsButton {
        left: 152px;
    }
    .MainPanel-undoButton {
        left: 200px;
    }
    .MainPanel-fileButton {
        right: 8px;
    }

}

@media (orientation: landscape) {

    .MainPanel-content {
        right: 64px;
        bottom: 0;
    }

    .MainPanel-primaryToolButton,
    .MainPanel-eraserButton,
    .MainPanel-paletteButton,
    .MainPanel-paramsButton,
    .MainPanel-undoButton,
    .MainPanel-fileButton {
        left: 8px;
    }

    .MainPanel-primaryToolButton {
        bottom: 8px;
    }
    .MainPanel-eraserButton {
        bottom: 56px;
    }
    .MainPanel-paletteButton {
        bottom: 104px;
    }
    .MainPanel-paramsButton {
        bottom: 152px;
    }
    .MainPanel-undoButton {
        bottom: 200px;
    }
    .MainPanel-saveButton {
        bottom: 200px;
    }

}
