.PalettePanel {
    position: absolute;
    right: 0;
    bottom: 0;
}

.PalettePanel-content {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.PalettePanel-content.visible {
    opacity: 1;
}

.PalettePanel-secondLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eee;
}

.PalettePanel-previewButton {
    top: 8px;
    width: auto;
    height: auto;
}
.PalettePanel-previewButton > .Button-content {
    width: auto;
    height: auto;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
}

@media (orientation: portrait) {

    .PalettePanel {
        left: 0;
    }

    .PalettePanel-content {
        right: 0;
        height: 208px;
        transition: ease-in-out 0.2s top, ease-in-out 0.2s opacity;
    }
    .PalettePanel-content.visible {
        top: -208px;
    }

    .PalettePanel-secondLayer {
        background-image: linear-gradient(#ddd, #eee);
    }

    .PalettePanel-previewButton {
        right: 8px;
        bottom: 50%;
        left: 200px;
    }

}

@media (orientation: landscape) {

    .PalettePanel {
        top: 0;
    }

    .PalettePanel-content {
        bottom: 0;
        width: 208px;
        transition: ease-in-out 0.2s left, ease-in-out 0.2s opacity;
    }
    .PalettePanel-content.visible {
        left: -208px;
    }

    .PalettePanel-secondLayer {
        background-image: linear-gradient(90deg, #ddd, #eee);
    }

    .PalettePanel-previewButton {
        right: 50%;
        bottom: 200px;
        left: 8px;
    }

}
