.ToolButton-transparency {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    background-size: 10px;
    border-radius: 2px;
}

.ToolButton-color {
    height: 100%;
    position: relative;
    border-radius: 2px;
}

.ToolButton-opaque {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    border-radius: 0 2px 2px 0;
}
