.UndoButton.disabled {
    opacity: 0.4;
}
.UndoButton.disabled.active {
    background: none;
    box-shadow: none;
}

@media (orientation: portrait) {
    .UndoButton {
        top: 8px;
        left: 200px;
    }
}

@media (orientation: landscape) {
    .UndoButton {
        left: 8px;
        bottom: 200px;
    }
}
