.Button {
    position: absolute;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
}
.Button.checked {
    background-color: #999;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}
.Button.active {
    background-color: #777;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.Button-content {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 2px;
}
