.ParamsPanel {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ParamsPanel-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
    opacity: 0;
}
.ParamsPanel-content.visible {
    opacity: 1;
}

.ParamsPanel-previewCanvas {
    position: absolute;
    top: 14px;
    left: 14px;
    margin: auto;
}

@media (orientation: portrait) {

    .ParamsPanel {
        left: 0;
    }

    .ParamsPanel-content {
        right: 0;
        height: 128px;
        background-image: linear-gradient(#ddd, #eee);
        transition: ease-in-out 0.2s top, ease-in-out 0.2s opacity;
    }
    .ParamsPanel-content.visible {
        top: -128px;
    }

    .ParamsPanel-slider {
        top: 72px;
        right: 8px;
        left: 8px;
    }

    .ParamsPanel-previewCanvas {
        right: 14px;
    }

}

@media (orientation: landscape) {

    .ParamsPanel {
        top: 0;
    }

    .ParamsPanel-content {
        bottom: 0;
        width: 128px;
        background-image: linear-gradient(90deg, #ddd, #eee);
        transition: ease-in-out 0.2s left, ease-in-out 0.2s opacity;
    }
    .ParamsPanel-content.visible {
        left: -128px;
    }

    .ParamsPanel-slider {
        top: 8px;
        bottom: 8px;
        left: 72px;
    }

    .ParamsPanel-previewCanvas {
        bottom: 14px;
    }

}
